.h1 {
  margin-left:30%;
  font-size:30px;
  color: gray;
}

.wrapper {
  margin: 0 auto;
  border: 1px solid black;
  width: 60em;
  min-width: 30em;
  display: grid;

  grid-template-columns: 15% 50% auto;
  text-align: center;

  >div:nth-child(6n+1),
  >div:nth-child(6n+2),
  >div:nth-child(6n+3) {
    background: #ddd;
  }
}
@media screen and (max-width: 500px) {
  .h1 {
    margin: 0px;
    text-align: center;
  }
  .wrapper {
    width: auto;
  }
}

@media screen and (max-width: 1000px) {
  .h1 {
    margin: 0px;
    text-align: center;
  }
  .wrapper {
    width: auto;
  }
}